<body>
  <center style="background-color: #1B4540;
                 color: #CF716A;
                 margin-top:-22px; 
                 top: 0; 
                 max-width: 100vw;
                 position: relative;
                 left: 50%;
                 right: 50%;
                 width: 100vw;
                 margin-left: -50vw;
                 margin-right: -50vw;
                 padding-left: 0; padding-right: 0;">
    <br>
    <p style="margin-top:70px;"></p>
    <a href="/"><img src="/header.jpg" ;></a>
    <p style="margin-bottom:8px;"></p>
    <h4>
      ⟢ <a href="#section1">tale</a> ⟡
      <a href="#about">about</a> ⟡
      <a href="#projects">projects</a> ⟡
      <a href="#socials">socials</a> ⟡
      <a href="#pubs">publications</a> ⟣
    </h4>
    <br>
  </center>
</body>