<body>
  <center style="background-color: #0E3530;
                 color: #f0eeee; 
                 margin-top:-1px; 
                 top: 0; 
                 position: relative;
                 left: 50%;
                 right: 50%;
                 max-width: 50vw;
                 width: 200vw;
                 margin-left: -50vw;
                 margin-right: -50vw;
                 padding-left: 25vw; padding-right: 25vw;">
    <div class="main" id="section1"></div>
    <br>
    <h1>The Tale</h1>
    <br>
    <img src="short-cv.png" alt="short cv"></img>
    <br>
    <br>
    <br>
    </div>
    <!-- My research TK 
    <br>
    <br>-->
  </center>
</body>