<body>
  <center style="background-color: #0E3530;
                 color: #f0eeee; 
                 margin-top:-1px; 
                 top: 0; 
                 position: relative;
                 left: 50%;
                 right: 50%;
                 max-width: 50vw;
                 width: 200vw;
                 margin-left: -50vw;
                 margin-right: -50vw;
                 padding-left: 25vw; padding-right: 25vw;">

    <br>
    Welcome! My name is Daniel Klotz. I am a researcher and currently at the Department of Compound Environmental Risks
    (UFZ, Leipzig). I earned my Phd in Hydrology and Water Resource Management at the institute for Hydaulic
    Engineering, Hydrology and Water Management (BOKU, Vienna) and served as a
    Postdoc at the Institute for Machine Learning (JKU, Linz).
    <br>
    <br>
    <!-- My research TK 
    <br>
    <br>-->
  </center>
</body>